body {
  padding-top: 50px; }

.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  background-color: #9575CD;
  margin: 0px auto;
  padding: 70px 30px;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

.row-hover :hover {
  font-size: xx-large; }

#nav-top :hover {
  font-size: x-large; }

.navbar-dark {
  background-color: #512DA8; }

.btn-social-icon :hover {
  font-size: xx-large; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.navbar-text :hover {
  cursor: pointer; }

.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 300px; }
  .carousel .carousel-item img {
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 300px; }

#carouselButton {
  bottom: 0px;
  right: 0px;
  position: absolute;
  z-index: 1; }

.modal-header {
  background: #512DA8; }
  .modal-header .modal-title {
    color: floralwhite; }
  .modal-header .close {
    color: floralwhite; }

.modal-body {
  background: #D1C4E9; }
